<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EnvMan.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EnvMan.Properties.VersionManagerSettings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <EnvMan.Properties.Settings>
            <setting name="FrmWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="FrmWindowLocation" serializeAs="String">
                <value>10, 10</value>
            </setting>
            <setting name="FrmSize" serializeAs="String">
                <value>377, 448</value>
            </setting>
        </EnvMan.Properties.Settings>
    </userSettings>
    <applicationSettings>
        <EnvMan.Properties.VersionManagerSettings>
            <setting name="WebPath" serializeAs="String">
                <value>http://env-man.sourceforge.net/</value>
            </setting>
            <setting name="VersionFile" serializeAs="String">
                <value>EnvMan.Release</value>
            </setting>
        </EnvMan.Properties.VersionManagerSettings>
    </applicationSettings>
</configuration>